{% extends "base.html" %}

{% block head %}
<title>Admin - Confirm Deletion</title>
{% endblock %}

{% block body %}

<div class="w3-container">
    <h1>Confirm Deletion</h1>
    <p class="w3-button w3-animate-left w3-green w3-hover-khaki w3-round"><a href="{{ url_for("input_requirements") }}">Input Requirements</a></p>
        <form class="w3-centered w3-card w3-animate-left" actions="/admin/delete_user/{{ user_ID }}" method="POST">
        <input class="w3-input w3-border w3-hover-grey" type="password" name="passphrase" placeholder="Confirm Admin Passphrase" id="passphrase">
        <input class="w3-bar w3-grey w3-hover-green" type="submit" value="Confirm" />
    </form>
    <p><a class="w3-button w3-green w3-hover-khaki w3-round-xlarge" href="{{ url_for("admin_homepage") }}">back</a></p>
</div>

{% endblock %}