{% extends "base.html" %}

{% block head %}
<title>Admin - Homepage</title>
{% endblock %}

{% block body %}

<div class="w3-container">
    <h1>Admin Homepage</h1>
    <table class="w3-table-all w3-centered w3-card w3-animate-left">
        <tr class="w3-khaki">
            <th>ID</th>
            <th>Name</th>
            <th>Passphrase</th>
            <th>Account Type</th>
            <th>Class Code</th>
            <th>Delete</th>
        </tr>

        {% for user in users %} <!-- Displays all the users in the system with some attributes as buttons so you can go edit them -->
        <tr>
            <td><a class="w3-button w3-round-xlarge w3-hover-khaki w3-disabled">{{ user.get_ID() }}</a></td>
            <td><a href="/admin/update_name/{{ user.get_ID() }}" class="w3-button w3-round-xlarge w3-hover-khaki">{{ user.get_name() }}</a></td>
            <td><a href="/admin/update_passphrase/{{ user.get_ID() }}" class="w3-button w3-round-xlarge w3-hover-khaki">unavailable</a></td>
            <td><a class="w3-button w3-round-xlarge w3-hover-khaki w3-disabled">{{ user.get_account_type() }}</a></td>
            <td><a href="/admin/update_class_code/{{ user.get_ID() }}" class="w3-button w3-round-xlarge w3-hover-khaki">{{ user.get_class_code()}}</a></td>
            <td><a href="/admin/delete_user/{{ user.get_ID() }}" class="w3-button w3-khaki w3-round-xlarge w3-hover-red">Delete</a></td> <!-- Delte user button -->
        </tr>
        {% endfor %}

    </table>
    <p><a href="{{ url_for("create_user") }}" class="w3-button w3-green w3-round-xlarge w3-hover-khaki">Create New User </a></p> <!-- Create user button -->
</div>

{% endblock %}