{% extends "base.html" %}

{% block head %}
<title>Admin - Homepage</title>
{% endblock %}

{% block body %}

<h1>Admin Homepage</h1>
<h3>Users</h3>
<table class="w3-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Passphrase</th>
        <th>Account Type</th>
        <th>Class Code</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.get_ID() }}</td>
        <td><a href="/admin/update_name/{{ user.get_ID() }}">{{ user.get_name() }}</a></td>
        <td><a href="/admin/update_passphrase/{{ user.get_ID() }}">unavailable</a></td>
        <td>{{ user.get_account_type() }}</td>
        <td><a href="/admin/update_class_code/{{ user.get_ID() }}">{{ user.get_class_code()}}</a></td>
        <td><a href="/admin/delete_user/{{ user.get_ID() }}">Delete</a></td>
    </tr>
    {% endfor %}

</table>
<p><a href="{{ url_for("create_user") }}">Create New User </a></p>
<p>Click <a href="{{ url_for("logout") }}">here</a> to logout</p>

{% endblock %}