{% extends "base.html" %}

{% block head %}
<title>Admin - Confirm Deletion</title>
{% endblock %}

{% block body %}

<h1>Confirm Deletion</h1>
<p><a href="{{ url_for("input_requirements") }}">Input Requirements</a></p>
    <form actions="/admin/delete_user/{{ user_ID }}" method="POST">
    <input type="password" name="passphrase" placeholder="admin passphrase" id="passphrase">
    <input type="submit" value="Confirm" />
</form>
<p>Click <a href="{{ url_for("admin_homepage") }}">here</a> to go back</p>
<p>Click <a href="{{ url_for("logout") }}">here</a> to logout</p>

{% endblock %}