<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, inital-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% block head %}{% endblock %}
</head>
	<body>
		<div class="container">
			{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
			{% block body %}{% endblock %}
			<ul class=flashes>
				{% for message in get_flashed_messages() %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>