<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, inital-scale=1" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	{% block head %}{% endblock %}
</head>
	<body>
		<div class="w3-bar w3-green w3-display-container">
			<a href="{{ url_for("homepage") }}" class="w3-bar-item w3-button w3-hover-khaki">Homepage</a>
			<a href="{{ url_for("login") }}" class="w3-bar-item w3-button w3-hover-khaki w3-display-right">login</a>
			<a href="{{ url_for("logout") }}" class="w3-bar-item w3-button w3-hover-khaki">logout</a>
		</div>
		{% if error %}
		<p class="w3-panel w3-pale-red"><strong>Error: {{ error }}</p>
		{% endif %}
		{% block body %}{% endblock %}
		{% for message in get_flashed_messages() %}
			<p class="w3-panel">{{ message }} <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-hover-pale-red">&times;</span></p></li>
		{% endfor %}
	</body>
</html>