{% extends "base.html" %}

{% block head %}
<title>Student - Homepage</title>
{% endblock %}

{% block body %}

<h1>Welcome {{ student.get_name() }}</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Date Updated</th>
    </tr>
    <tr>
        <td>{{ student.get_name() }}</td>
        <td>{{ student.student.get_grade() }}</td>
        <td>{{ student.student.get_date_grade() }}</td>
    </tr>
    </table>
<p>Click <a href="{{ url_for("logout") }}">here</a> to logout</p>

{% endblock %}