{% extends "base.html" %}

{% block head %}
<title>Student - Homepage</title>
{% endblock %}

{% block body %}

<div>
    <h1 class="w3-container">Welcome {{ student.get_name() }}</h1>

    <table class="w3-table-all w3-centered">
        <tr class="w3-khaki">
            <th>ID</th>
            <th>Grade</th>
            <th>Date Updated</th>
        </tr>
        <tr>
            <td>{{ student.get_ID() }}</td>
            <td>{{ student.student.get_grade() }}</td>
            <td>{{ student.student.get_date_grade() }}</td>
        </tr>
    </table>
</div>
{% endblock %}