{% extends "base.html" %}

{% block head %}
<title>Teacher - Homepage</title>
{% endblock %}

{% block body %}

<div>
	<h1>Teacher Homepage</h1>

	<table>
		<tr>
			<th>Students</th>
			<th>Grade</th>
			<th>Date Updated</th>
		</tr>
		{% for student in students %}
		<tr>
			<td>{{ student.name }}</td>
			<td>{{ student.grade }}</td>
			<td>{{ student.date_grade }}</td>
			<td><a href="/teacher/{{ teacher.ID }}/update_grade/{{ student.ID }}">Update grade</a><td>
	    <!--<td><a href="/teacher/{{ teacher.ID }}/update_comments/{{ student.ID }}">Update comments</a><td>-->
</tr>
		{% endfor %}
	</table>
	<br>
</div>
<p>Click <a href="{{ url_for("logout") }}">here</a> to logout</p>

{% endblock %}
