{% extends "base.html" %}

{% block head %}
<title>Teacher - Homepage</title>
{% endblock %}

{% block body %}


	<h1>Welcome {{ teacher.get_name() }}</h1>

<table>
	<tr>
		<th>Students</th>
		<th>Grade</th>
		<th>Date Updated</th>
	</tr>
	{% for student in students %}
	<tr>
		<td>{{ student.get_name() }}</td>
		<td>{{ student.student.get_grade() }}</td>
		<td>{{ student.student.get_date_grade() }}</td>
		<td><a href="/teacher/{{ teacher.get_ID() }}/update_grade/{{ student.get_ID() }}">Update grade</a><td>
	<!--<td><a href="/teacher/{{ teacher.get_ID() }}/update_comments/{{ student.get_ID() }}">Update comments</a><td>-->
        </tr>
	{% endfor %}
</table>
<br>

<p>Click <a href="{{ url_for("logout") }}">here</a> to logout</p>

{% endblock %}
