{% extends "base.html" %}

{% block head %}
<title>Teacher - View Student</title>
{% endblock %}

{% block body %}

<div class="w3-container">
    <h1>Viewing Student: {{ student.get_name() }}</h1>

	<table class="w3-table-all w3-centered w3-card w3-animate-left">
		<tr class="w3-khaki">
			<th>Subject</th>
            <th>Grade</th>
            <th>Date Updated</th>
		</tr>
		{% for index in student.student.get_num_subjects() %}
			<tr>
				<td>{{ student.student.get_subjects()[index] }}</td>
                <td>{{ student.student.get_grades()[index] }}</td>
                <td>{{ student.student.get_dates()[index] }}</td>
			</tr>
		{% endfor %}
	</table>
    <p><a class="w3-button w3-green w3-hover-khaki w3-round-xlarge" href="/teacher/{{ teacher.get_ID() }}/add_subjects/{{ student.get_ID() }}">Add Subjects</a>
		<a class="w3-button w3-green w3-hover-khaki w3-round-xlarge" href="/teacher/{{ teacher.get_ID() }}/remove_subjects/{{ student.get_ID() }}">Remove Subjects</a></p>
    <p><a class="w3-button w3-green w3-hover-khaki w3-round-xlarge" href="/teacher/{{ teacher.get_ID() }}">Back</a></p>
</div>

{% endblock %}